# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Update scaling'
      'command': 'hidpi:update'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'HiDPI'
      'submenu': [
        {
          'label': 'Update'
          'command': 'hidpi:update'
        }
      ]
    ]
  }
]
